.certificates {
    background-color: $COLOR_GREEN;
    &__wrapper {
        position: relative;
        max-width: 770px;
        height: 460px;
        margin: 50px auto 0;
        border: 11px solid #282828;
        background-color: black;
        border: 15px solid $COLOR_BLACK;
    }
    &__arrow {
        width: 70px;
        height: 70px;
        position: absolute;
        background-color: $COLOR_WHITE_FONTS;
        border-radius: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
    &__arrow_left {
        left: -102px;
    }
    &__arrow_right {
        right: -102px
    }
}

.sert {
    width: 100%;
    height: 100%;
    object-fit: cover;
}