.certificates {
    background-color: $COLOR_GREEN;
    &__generic-wrapper {
        position: relative;
        max-width: 770px;
        height: 460px;
        margin: 50px auto 0;
    }
    &__wrapper {
        max-width: 100%;
        height: 100%;
        border: 11px solid #282828;
        background-color: black;
        border: 15px solid $COLOR_BLACK;
        overflow: hidden;
    }
    &__item-wrapper {
        display: flex;
        width: calc(600% + 90px);
        height: 100%;
        transition: all 1s;
    }
    &__item-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-right: 15px;
    }
    &__arrow {
        width: 70px;
        height: 70px;
        position: absolute;
        background-color: $COLOR_WHITE_FONTS;
        border-radius: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
    &__arrow_left {
        left: -95px;
    }
    &__arrow_right {
        right: -95px
    }
}
