.contact {
    background-color:  #b54f4f;
    &__wrapper {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
    }
    &__content {
        position: relative;
        border-radius: 20px;
        padding: 10px;
        background-color: $COLOR_WHITE_FONTS;
        &::before {
            content: '';
            display: block;
            width: 55px;
            height: 55px;
            background-color: $COLOR_RED;
            border-radius: 100%;
            position: absolute;
            top: -3px;
            right: -3px;
        }
        &::after {
            content: '';
            display: block;
            width: 40px;
            height: 40px;
            background-color: $COLOR_WHITE_FONTS;
            border-radius: 100%;
            position: absolute;
            top: 4px;
            right: 4px;
        }
    }
    &__subtitle {
        margin-bottom: 25px;
        font-size: 26px;
        font-weight: 400;
        line-height: 1;
        text-align: center;
    }
    &__item {
        display: block;
        font-size: 20px;
        line-height: 14px;
        font-weight: 400;
        color: $COLOR_BLACK;
        border-left: 3px solid $COLOR_BLACK;
        padding-left: 30px;
        padding-bottom: 20px;
        border-bottom: 3px solid $COLOR_BLACK;
        &:hover {
            color: $COLOR_GREEN;
            .contact__item-info_flex {
                border: 2px solid $COLOR_GREEN;
            }
        }
    }
    &__item-title {
        position: relative;
        margin-bottom: 20px;
        &::before {
            content: '';
            width: 2px;
            height: 25px;
            background-color: $COLOR_BLACK;
            position: absolute;
            top: 17px;
            left: 5px;
        }
        &::after {
            content: '';
            width: 13px;
            height: 2px;
            background-color: $COLOR_BLACK;
            position: absolute;
            top: 40px;
            left: 5px;
        }
    }
    &__item-title_pseudo-element {
        &::before {
            content: '';
            width: 2px;
            height: 50px;
        }
        &::after {
            content: '';
            width: 13px;
            height: 2px;
            top: 65px;
        }
    }
    &__item-info {
        padding-left: 20px;
    }
    &__item-info_flex {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        margin-left: 20px;
        border: 2px solid $COLOR_BLACK;
        max-width: 150px;
    }
    &__socials {
        &-img {
            width: 35px;
            height: 35px;
        }
    }
    .mail, .socials {
        padding-top: 30px;
    }
    &__form {
        display: grid;
        grid-template: 60px 138px 60px / repeat(2, 1fr);
        grid-gap: 30px;
        grid-auto-rows: auto;

    }
    &__form-wrapper-input, &__form-wrapper-textarea {
        position: relative;
        border: 1px solid $COLOR_BLACK;
        padding: 10px;
        &:hover .contact__form-label {
            color: $COLOR_GREEN;
        }
    }
    &__form-wrapper-textarea {
        grid-column: 1/3;
    }
    &__form-input {
        width: 100%;
        height: 100%;
        background-color: $COLOR_WHITE_FONTS;
        border: none;
        &:focus {
            outline: none;
        }
    }
    &__form-textarea {
        overflow: hidden;
        width: 100%;
        height: 100%;
        resize: none;
        border: none;
        background-color: $COLOR_WHITE_FONTS;
        &:focus {
            outline: none;
        }
    }

    &__form-label {
        position: absolute;
        top: -13px;
        left: 15px;
        background-color: $COLOR_WHITE_FONTS;
        padding: 0 5px;
    }
    &__form-btn {
        border: 3px solid $COLOR_GREEN;
        color: $COLOR_GREEN;
        background: $COLOR_WHITE_FONTS;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 1;
        font-weight: 400;
        &:hover {
            color: $COLOR_BLACK;
        }
        &:active {
            background-color: $COLOR_BLACK;
            border: none;
            color: $COLOR_GREEN;
        }
        
    }
}
.form-error {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
    background-color: rgba(30, 29, 29, 0.9);
    font-size: 26px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    color: $COLOR_GREEN;
    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 45px;
        height: 45px;
        background-color: $COLOR_WHITE_FONTS;
        border-radius: 5px;
        cursor: pointer;
        &::before, &::after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            width: 100%;
            height: 2px;
            background-color: $COLOR_GREEN;
            transform: rotate(45deg);

        }
        &::after {
            transform: rotate(-45deg);
        }
    }
}

