.header {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    height: 55px;
    background-color: #282828;
    &__wrapper-grid {
        display: grid;
        grid-template-columns: 1fr 7fr 1fr;
        grid-auto-rows: 55px;


    }
    &__logo-link {
        place-self: center start;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        max-width: 130px;
    }
    &__logo-img {
        max-width: 85%;
    }
    &__nav {
        place-self: center center;
    }
    &__wrapper-button {
        display: flex;
        align-items: center;
        place-self: center end;
    }
    &__button-menu {
        display: none;
        width: 30px;
        height: 21px;
        border: none;
        background-color: $COLOR_BLACK;
    }
    &__btn-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: $COLOR_WHITE_FONTS;
        &:not(:last-child) {
            margin-bottom: 6px;
        }
    }
}