.header {
    position: fixed;
    width: 100%;
    top: 0;
    height: 55px;
    background-color: #282828;
    &__wrapper-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    &__logo-link {
        font-size: 20px;
        font-weight: 500;
        line-height: 14px;
        text-decoration: none;
        display: block;
        height: 40px;
        width: 70px;
        padding: 7px 0;
        background-color: whitesmoke;
    }
    &__logo-img {
        max-width: 100%;
    }
    &__wrapper-button {
        display: flex;
        align-items: center;
    }
    &__button-menu {
        display: none;
        margin-right: 15px;
        width: 30px;
        height: 21px;
        border: none;
        background-color: $COLOR_BLACK;
    }
    &__button-line {
        width: 100%;
        height: 2px;
        background-color: $COLOR_WHITE_FONTS;
        &:not(:last-child) {
            margin-bottom: 6px;
        }
    }
}