.header {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    height: 55px;
    background-color: #282828;
    &__wrapper-grid {
        display: grid;
        grid-template-columns: 1fr 7fr 1fr;
        grid-auto-rows: 55px;


    }
    &__logo-link {
        place-self: center start;
        font-size: 20px;
        font-weight: 500;
        line-height: 14px;
        text-decoration: none;
        display: block;
        height: 40px;
        width: 70px;
        padding: 7px 0;
        background-color: whitesmoke;
    }
    &__logo-img {
        max-width: 100%;
    }
    &__nav {
        place-self: center center;
    }
    &__wrapper-button {
        display: flex;
        align-items: center;
        place-self: center end;
    }
    &__button-menu {
        display: none;
        width: 30px;
        height: 21px;
        border: none;
        background-color: $COLOR_BLACK;
    }
    &__button-line {
        width: 100%;
        height: 2px;
        background-color: $COLOR_WHITE_FONTS;
        &:not(:last-child) {
            margin-bottom: 6px;
        }
    }
}