@media (max-width: 1399px) {
    .container {
        max-width: 1140px;
    }
    .social-connect {
        left: 3%;
    }
}

@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
    .menu {
        &__link {
            padding: 18px 8px;
            font-size: 15px;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .header{
        &__wrapper-grid {
            grid-template-columns: 1fr 1fr;
        } 
        &__nav {
            position: fixed;
            left: -100%;
            top: 55px;
            height: 100%;
            width: 40%;
            background-color: $COLOR_BLACK;
            transition: all 0.7s;   
        }
        &__nav_active {
            left: 0;
        }
        &__button-menu {
            display: block;
            margin-right: 14px;
        }
    }
    .menu {
        height: 85%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__item {
            padding: 0 12px;
        }
        &__link {
            padding: 15px 0;
            font-size: 18px;
            &:hover {
                color: $COLOR_WHITE_FONTS;
                border-bottom: none;
            }
        }
    }
    .settings {
        padding: 0 0;
        margin-left: 10px;
        &:hover &__wrapper-box {
            display: none;
        }
        &__wrapper-box_active {
            display: block !important;
        }
    }
    .skills {
        &__items {
            grid-template-columns: minmax(auto, 485px);
        }
        &__item_big-img {
            grid-column: 1/2;
        }
        
    }

}

@media (max-width: 575px) {
    .container {
        max-width: 100%;
    }
}