@import 'libs/_bootstrap-reboot';
@import 'libs/_fonts';

@import 'base/_variables';
@import 'base/_mixins';

* {
    font-family: 'Poppins', 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 10px;
}

.generic-block {
    min-height: 100vh;
    padding: 100px 0;
}

ul, h3 {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

@import 'blocks/title';
@import 'blocks/social-connect';
@import 'blocks/_header';
@import 'blocks/_menu';
@import 'blocks/_settings';
@import 'blocks/_projects';
@import 'blocks/_tabs';
@import 'blocks/_project';
@import 'blocks/_certificates';
@import 'blocks/_aboutMe';
@import 'blocks/_message';
@import 'blocks/_skills';
@import 'blocks/contact';
@import '_media';

